<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :a %>
    <%= form.text_area :a %>
  </div>

  <div class="field">
    <%= form.label :b %>
    <%= form.text_area :b %>
  </div>

  <div class="field">
    <%= form.label :c %>
    <%= form.text_area :c %>
  </div>

  <div class="field">
    <%= form.label :d %>
    <%= form.text_area :d %>
  </div>

  <div class="field">
    <%= form.label :otvet %>
    <%= form.text_area :otvet %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
